@import "@stevenorcun/common-css-lib/src/assets/scss/variables";
@import "@stevenorcun/common-css-lib/src/assets/scss/mixins";

.inputContainer {
  @include flexbox;
  @include flex-direction(column);
  padding: 15px 20px;
  box-sizing: border-box;
  label {
    font-size: 12px;
    font-weight: 600;
    color: #4d5056;
    margin-bottom: 3px;
  }
  .input {
    height: 40px;
  }
}
.inputText {
  border: 1px solid #ededee;
  box-shadow: 0px 7.58719px 34px rgba(42, 46, 115, 0.05);
  border-radius: 4px;
  height: 30px;
  padding: 5px 8px;
}
.switchContainer {
  @include flexbox;
  @include align-items(center);
}
.switchCheckedText {
  margin-left: 5px;
  color: #f33e6a;
  font-size: 12px;
  font-weight: 600;
  &.switchChecked {
    color: #25cc7e;
  }
}
.headerInputContainer {
  @include flexbox;
  .inputContainer {
    width: 50%;
    padding: 10px 20px;
    &:first-of-type {
      padding-right: 5px;
    }
    &:last-of-type {
      padding-left: 5px;
    }
  }
}

.accordion {
  height: 45px;
  margin-top: 0 !important;
  box-sizing: border-box;
}
.accordionSecondary {
  margin-top: 0 !important;
  box-sizing: border-box;
  background-color: white;
  font-size: 12px !important;
}
.accordionTitle {
  @include flexbox;
  @include align-items(center);
  svg {
    margin-right: 10px;
  }
}

.optionElementInteractive {
  width: 100%;
  text-align: left;
}
.optionElementProperties {
  padding-top: 7px;
  padding-bottom: 7px;
}
.autocompleteObjectOption {
  svg {
    width: 20px;
    height: 15px;
    fill: #3083f7;
  }
}
.inputTagElement {
  user-select: none;
  cursor: default;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #f2f4f8;
  > svg {
    margin-left: 5px;
    cursor: pointer;
  }
}
.inputTagElementLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.addFieldButton {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  color: $color-blue;
  margin: 1em 0;
  font-weight: 900;
  font-size: 12px;
  line-height: 16px;
  svg {
    fill: #3083f7;
    stroke: #3083f7;
    stroke-width: 1px;
    padding-right: 0.5em;
  }
}

.buttonFooter {
  width: 33%;
  &.buttonCancel {
    margin-left: 65px;
  }
  &.buttonValidate {
    margin-right: 65px;
  }
}

.divider {
  border: 0.5px solid #cfd8ec;
  opacity: 0.5;
}
