.relatedFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 11px;
  height: 35px;
  color: #3083F7;

  &Round {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #D2D3D4;
  }

  button {
    font-size: 11px;
    border: none;
    font-weight: 600;
    text-decoration : underline;
    color: #3083F7;
    background-color: transparent;
    padding: .8rem;
   }

   .button__disable {
     opacity: 0.5;
     cursor: auto;
   }

   p {
    font-weight: 600;
    font-size: 10.5067px;
    color: #3083F7;
    display: flex;
    align-items: center;
    justify-content: center;
   }
}

.divider {
  border: 1px solid #EDEDEE;
 }
