@import "@stevenorcun/common-css-lib/src/assets/scss/mixins";
@import "@stevenorcun/common-css-lib/src/assets/scss/variables";

.listOptionsContainer {
  position: absolute;
  background-color: white;
  border: 1px solid #f2f4f8;
  border-radius: 5px;
  box-shadow: 20px 30px 41px rgba(0, 0, 0, 0.13);
  z-index: 2;
  .listButton:first-of-type {
    margin-left: 0;
  }
}
