@import "@stevenorcun/common-css-lib/src/assets/scss/variables";
@import "@stevenorcun/common-css-lib/src/assets/scss/_commons";

.createList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.input {
  height: 50px;
  padding: 15px;
  background: $color-white;
  border: 1px solid $color-grey10;
  box-sizing: border-box;
  box-shadow: 0px 7.58719px 34px rgba(42, 46, 115, 0.05);
  border-radius: 4px;
  margin: 6px 0px;

  &:focus-visible {
    outline: none;
  }
}

.intro {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  margin: 1rem 0;
}
